RewriteEngine on
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
# existing files are routed to index.php
RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif|css|js|json)$ [NC]
RewriteRule ^(?!index\.php)(.+)$ index.php?pageName=$1 [NC,QSA,L]
