body {
	padding: 1.5rem;
}

.bi {
	width: 1em;
	height: 1em;
}

.color-modes.dropdown-menu {
	padding: 0.25rem;
}

li + li.color-modes.dropdown {
	margin-top: 0.125rem;
}

.dropdown-item {
	border-radius: 0.25rem;
}
